body {
  background-color: #8451b4; /* Purple background color */
  color: white; /* White text color */
}

.semester-container {
  display: flex;
}

.semester-list {
  width: 30%;
  padding: 20px;
}

.semester-list h2 {
  margin-bottom: 10px;
}

.semester-buttons-container {
  height: 0; /* Initially hidden */
  overflow-y: auto;
  transition: height 0.3s ease; /* Smooth transition */
}

.semester-buttons-container.show {
  height: auto; /* Show when toggled */
}

.semester-buttons {
  padding: 10px 0;
}

.semester-buttons button {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  background-color: #c59ee1; /* Dark purple background color */
  color: white; /* White text color */
  border: none; /* Remove border */
  padding: 8px;
  border-radius: 5px; /* Add some border radius */
}

.semester-buttons button:hover {
  background-color: #ab92b8; /* Purple background color on hover */
}

.semester-details {
  width: 70%;
  padding: 20px;
}

.semester-details h2 {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #c59ee1; /* Purple background color for table */
}

table th, table td {
  border: 2px solid #000000; /* Black border */
  padding: 8px;
  color: white; /* White text color */
}

table th {
  background-color: #caa2e7; /* Dark purple background color for table header */
}
